<section class="hero is-fullheight has-text-centered" id="contact">
  <div class="hero-body">
    <div class="container">
      <h3
        class="
          is-size-5 is-uppercase
          has-text-weight-semibold has-text-white
          is-marginless
        "
      >
        Where you can find me
      </h3>
      <hr />
      <div class="column is-full is-size-1">
        {% unless site.twitter_username == %}
        <a
          href="http://www.twitter.com/{{site.twitter_username}}"
          target="_blank"
          class="has-text-white"
          ><i class="fab fa-twitter"></i
        ></a>
        {% endunless %} {% unless site.github_username == %}
        <a
          href="http://www.github.com/{{site.github_username}}"
          target="_blank"
          class="has-text-white"
          ><i class="fab fa-github"></i
        ></a>
        {% endunless %} {% unless site.spotify_username == %}
        <a
          href="http://open.spotify.com/user/{{site.spotify_username}}"
          target="_blank"
          class="has-text-white"
          ><i class="fab fa-spotify"></i
        ></a>
        {% endunless %} {% unless site.email == %}
        <a href="mailto:{{site.email}}" class="has-text-white" target="_blank">
          <i class="fas fa-envelope"></i>
        </a>
        {% endunless %}
      </div>
    </div>
  </div>
</section>
